@CHARSET "UTF-8";
.logo,.searchbox,.hotsearch,.sj1main,.searchnav,.copyright {
	text-align: center;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
}

.logo {
	margin-top: 50px;
	margin-bottom: 50px;
}

.logo img {
	margin: 0 auto;
}

.searchbox {
	margin-bottom: 30px;
	height: 30px;
	position: relative;
}

.searchbox .input_text {
	width: 346px;
	height: 26px;
	line-height: 16px;
	padding: 3px 2px;
	position: absolute;
	left: 85px;
	top: 1px;
}

.searchbox .input_submit {
	width: 80px;
	height: 28px;
	line-height: 24px;
	position: absolute;
	left: 445px;
	font-size: 14px;
}

.hotsearch {
	margin-bottom: 100px;
	font-size: 14px;
}

.hotsearch a:link,.hotsearch a:visited {
	text-decoration: underline;
}

.hotsearch a {
	margin-right: 5px
}

.searchnav {
	margin-top: 10px;
}

.searchnav a:link,.searchnav a:visited {
	margin: 0 5px;
	color: #333;
}

.copyright {
	font-family: arial;
}

.copyright a:link,.copyright a:visited {
	color: #333;
}

#Se_tip {
	position: absolute;
	z-index: 5000;
	background: #fff;
	border: 1px solid #1C618E;
	width: 352px;
	line-height: 20px;
	display: none;
	top: 26px;
	left: 85px;
}

.Se_tip_item {
	padding: 0 2px;
	height: 20px;
	cursor: pointer;
	overflow: hidden;
}

.Se_tip_item span {
	width: 280px;
	display: block;
	word-wrap: break-word;
	word-break: break-all;
	height: 20px;
	oveflow: hidden;
	text-align: left;
	float: left;
}

.Se_tip_item em {
	float: right;
	color: #008400;
	font-size: 11px;
}

.Se_tip_close {
	padding: 0 2px;
	text-align: right;
}